
.progress-bar {
    color: white;
    background-color: blue;
}
.player-char {
    width: 200px;
}

.start-img {
    width: 40vh;
    height: 60vh;
    display: inline-block;
    background-repeat: no-repeat;
}



.btn-start {
    margin-top: 30vh;
    margin-left: 7vh;
    border-radius: 15px
}
#green-knight {
    margin-left:25%;
}

#playerimg {
    width: 10vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#background-img {
    background-repeat: no-repeat;
    background-size: 100%
}

#display {
    background-color: lightblue;
    color: white;
    text-align: center;
    margin-top: 1vh;
    border-style: solid;
    border-radius: 15px;
}

#end-page {
    border-radius: 15px;
    color: white;
}
